In [1]:
%load_ext autotime

In [2]:
import nltk
import pickle
import re
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import tools.functions

from nltk.corpus import stopwords
from sklearn.feature_extraction.text import TfidfVectorizer

# nltk.download('stopwords')
# nltk.download('wordnet')

time: 2.07 s

In [3]:
all_text = pd.read_csv('archive/sub_reddits.csv')
all_text['selftext'] = all_text['selftext'].astype(str)

time: 6.15 s

In [4]:
vectorizer_max_features = 1500

time: 279 µs

In [10]:
sanitized_posts = tools.functions.sanitize_posts(all_text['selftext'])

time: 2min 8s

In [11]:
vectorizer = TfidfVectorizer(max_features=vectorizer_max_features, min_df=5, max_df=0.7, stop_words=stopwords.words('english'))
tfidfvectorized_posts = vectorizer.fit_transform(sanitized_posts).toarray()

time: 21.1 s

In [12]:
feature_names = vectorizer.get_feature_names()
tfidf_df = pd.DataFrame(tfidfvectorized_posts, columns=feature_names)

time: 6.73 ms

In [13]:
tfidf_df.head()

,00,000,01,02,03,04,05,06,07,08,...,yesterday,yet,yield,yolo,york,young,youtu,youtube,yr,zero
0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.135781,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

time: 17.4 ms