In [1]:
%load_ext autotime

In [2]:
import nltk
import pickle
import re
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import tools.functions

from nltk.corpus import stopwords
from sklearn.feature_extraction.text import TfidfVectorizer

# nltk.download('stopwords')
# nltk.download('wordnet')

time: 2.07 s

In [3]:
all_text = pd.read_csv('archive/sub_reddits.csv')
all_text['selftext'] = all_text['selftext'].astype(str)

time: 6.54 s

In [4]:
vectorizer_max_features = 1500

time: 281 µs

In [5]:
sanitized_posts = tools.functions.sanitize_posts(all_text)

time: 6min 30s

In [6]:
vectorizer = TfidfVectorizer(max_features=vectorizer_max_features, min_df=5, max_df=0.7, stop_words=stopwords.words('english'))
tfidfvectorized_posts = vectorizer.fit_transform(sanitized_posts).toarray()

time: 7.88 s

In [7]:
feature_names = vectorizer.get_feature_names()
tfidf_df = pd.DataFrame(tfidfvectorized_posts, columns=feature_names)

time: 2.34 ms

In [8]:
tfidf_df.head()

,01cloud01,0e532bbfe7e8,10,100,10000yearsfromtoday,100k,11,11e8,12,121518nine,...,zekator,zenwarrior01,zer033x,zerga,zertox3000,zg311,zman1175,zmurray1996,zuelearth,zurevu
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

time: 18.8 ms

In [ ]:
all_text['selftext'][:10]